/*
  table of contents
  - general
  - login
  - home
  - article_index
 */

/* $general */

* {
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  box-sizing: border-box;
}
body {
  background-color: #E0F2F1;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* $login */

.login-form {
  max-width: 400px;
  margin: 80px auto;
  padding: 1rem;
}
.login-inner {
  width: 256px;
  margin: 1rem auto;
}
.login-title {
  font-size: 2rem;
  line-height: 4rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: normal;
}
.login-error_message {
  color: #F44336;
}
.login-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

/* $home */

.home-welcome_message_box {
  width: 30rem;
  margin: 2rem auto 0;
  padding: 3rem 0;
  text-align: center;
}

/* $article_index */
.article_index-container {
  margin: 1rem;
}
.article_index-feed_label {
  text-indent: 1rem;
}
.article_index-wrapper {
  display: flex;
  padding: .8rem;
  line-height: 1rem;
}
.article_index-avatar {
  margin-right: 1.6rem;
}
.article_index-header {
  width: 10rem;
}
.article_index-name {
  line-height: 1.4rem;
}
.article_index-date {
  margin-top: .2rem;
  line-height: 1.4rem;
  font-size: .7rem;
}
.article_index-body {
  flex-grow: 4;
}
.article_index-article_title {
  line-height: 1.4rem;
}
.article_index-description {
  margin-top: .4rem;
  color: #9E9E9E;
}
.article_index-page_navi {
  text-align: right;
  margin: 1rem;
}

