/*
  table of contents
  - general
  - login
 */

/* $general */

* {
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  box-sizing: border-box;
}
body {
  background-color: #E0F2F1;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* $login */

.login-form {
  max-width: 400px;
  margin: 80px auto;
  padding: 1rem;
}
.login-inner {
  width: 256px;
  margin: 1rem auto;
}
.login-title {
  font-size: 2rem;
  line-height: 4rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: normal;
}
.login-error_message {
  color: #F44336;
}
.login-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
