/*
  table of contents
  - general
  - login
  - home
  - sidebar
  - article_index
  - article
  - editor
  - searcher
  - avator_preview
 */

/* $general */

* {
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  box-sizing: border-box;
}
body {
  background-color: #E0F2F1;
}
a {
  text-decoration: none;
}
li {
  /* TODO: need to aplly following style except markdown.; */
  /*list-style: none;*/
}

/* $login */

.login-form {
  max-width: 400px;
  margin: 80px auto;
  padding: 1rem;
}
.login-inner {
  width: 256px;
  margin: 1rem auto;
}
.login-title {
  font-size: 2rem;
  line-height: 4rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: normal;
}
.login-error_message {
  color: #F44336;
}
.login-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}
.login-links {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

/* $home */

.home-welcome_message_box {
  width: 30rem;
  margin: 2rem auto 0;
  padding: 3rem 0;
  text-align: center;
}

/* $sidebar */

.sidebar_link-profile {
  font-size: 0.7rem;
  margin: 0 1rem 1rem;
}

/* $article_index */
.article_index-container {
  position: relative;
  margin: 1rem;
}
.article_index-feed_label {
  text-indent: 1rem;
}
.article_index-wrapper {
  display: flex;
  padding: .8rem 20px;
  line-height: 1rem;
}
.article_index-wrapper-pinned {
  border-color: red;
}
.article_index-avatar {
  margin-right: 1.6rem;
}
.article_index-header {
  width: 10rem;
}
.article_index-name {
  line-height: 1.4rem;
}
.article_index-date {
  margin-top: .2rem;
  line-height: 1.4rem;
  font-size: .7rem;
}
.article_index-body {
  display: flex;
  flex: 4;
}
.article_index-body a:visited {
  color: rgba(0, 0, 0, 0.54);
}
.article_index-article_title {
  line-height: 1.4rem;
  font-weight: 500;
}
.article_index-description {
  margin-top: .4rem;
  color: #9E9E9E;
}
.article_index-page_navi {
  text-align: right;
  margin: 1rem;
}

/* $article */

.article-wrapper {
  margin :1rem;
  padding: 1rem;
}
.article-edit_button {
  position: absolute;
  right: 2rem;
  top: -2.7rem;
}
.article-tags {
  margin: .4rem 0;
  font-size: .6rem;
}
.article-tag_list_item {
  display: inline;
  margin-right: 1rem;
}
.article-meta {
  margin: 1rem 0;
  position: relative;
}
.article-author_profile {
  display: flex;
}
.article-author_profile_col {
  margin-right: 1rem;
}
.article-date {
  font-size: .8rem;
}
.article-actions {
  margin: 1rem 0 0;
  padding: 0 1rem;
  text-align: right;
}

/* $editor */


.editor-wrapper {
  margin: 1rem;
}
.editor-main {
  display: flex;
}
.editor-forms {
  flex: 1;
  background-color: white;
  border: 1px solid #eee;
  padding: 0 0 1rem;
}
.editor-forms_inputs {
  padding: 0 1rem 1rem;
}
.editor-tools {
  width: 300px;
  padding: 1rem;
}
.editor-previewer_wrapper {
  padding: 1rem;
  margin-bottom: 1rem;
  min-height: 25rem;
  background-color: #F9FBE7;
  border-bottom: 1px solid #eee;
}
.editor-previewer_heading {
  margin-top: 1rem;
}
.editor-previewer_body {
  margin-top: 2rem;
}
.editor-actions {
  margin: 1rem 0 0;
  padding: 0 1rem;
  text-align: right;
}

/* $searcher */

.searcher-wrapper {
  display: flex;
  margin: 0 1rem;
  padding: 0 1rem;
}
.searcher-input_wrapper {
  flex: 1;
}
.searcher-submit_button {
  margin: .4rem 0 0 1rem;
}

/* $avator_preview */

.avator-preview_wrapper {
  display: -webkit-flex; /* Safari */
  display: flex;
}
.avator-preview_new-image {
  margin-left: 1rem;
}
.avator-preview_dropzone {
  margin-left: 1rem;
}


